@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Syne:wght@400..800&display=swap");
@import "tailwindcss";

:root {
  --bg: #0d1117;
  --white: #ffffff;
  --paragraph: #d1d5db;
  --faq: #909090;
  --gradient: linear-gradient(
    145deg,
    rgba(192, 132, 252, 1) 0%,
    rgba(34, 211, 238, 1) 50%,
    rgba(74, 222, 128, 1) 100%
  );

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  background-color: var(--bg);
  color: var(--white);
}

.dark {
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
}

.box {
  border: 2px solid #0000;
  border-radius: 12px;
  background: linear-gradient(#131219, #131219) padding-box,
    linear-gradient(
        var(--angle),
        rgba(192, 132, 252, 1) 0%,
        rgba(34, 211, 238, 1) 50%,
        rgba(74, 222, 128, 1) 100%
      )
      border-box;
  animation: 4s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.brand,
.primary {
  background: var(--gradient);
}

.textGrad {
  background-image: var(--gradient);
  color: transparent;
  background-clip: text;
}
